<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.camera.autofocus"
    android:required="false" />

  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

  <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="32"
    tools:replace="android:maxSdkVersion" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="com.android.vending.BILLING" />

  <uses-permission
    android:name="android.permission.FOREGROUND_SERVICE"
    tools:node="remove" />
  <uses-permission
    android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
    tools:node="remove" />

  <uses-permission
    android:name="android.permission.WRITE_SETTINGS"
    tools:ignore="ProtectedPermissions" />

  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="${usesCleartextTraffic}"
    android:supportsRtl="true"
    tools:replace="android:allowBackup">
    <provider
      android:name="com.google.firebase.provider.FirebaseInitProvider"
      android:authorities="${applicationId}.firebaseinitprovider"
      tools:node="remove" />

    <meta-data
      android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/facebook_app_id" />
    <meta-data
      android:name="com.facebook.sdk.ClientToken"
      android:value="@string/facebook_client_token" />
    <meta-data
      android:name="com.facebook.sdk.AutoInitEnabled"
      android:value="false" />
    <meta-data
      android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
      android:value="false" />
    <meta-data
      android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
      android:value="false" />

    <meta-data
      android:name="firebase_analytics_collection_enabled"
      android:value="false" />
    <meta-data
      android:name="firebase_crashlytics_collection_enabled"
      android:value="false" />
    <meta-data
      android:name="firebase_messaging_auto_init_enabled"
      android:value="false" />
    <meta-data
      android:name="google_analytics_default_allow_ad_personalization_signals"
      android:value="false"
      tools:replace="android:value" />
    <meta-data
      android:name="firebase_performance_collection_enabled"
      android:value="false" />
    <meta-data
      android:name="firebase_remote_config_auto_fetch_enabled"
      android:value="false" />
    <meta-data
      android:name="google_analytics_deferred_deep_link_enabled"
      android:value="false" />
    <meta-data
      android:name="firebase_inapp_messaging_auto_data_collection_enabled"
      android:value="false" />

    <!-- @feature:admob:start [disabled] -->
    <!-- <meta-data
      android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
      android:value="true" /> -->
    <!-- @feature:admob:end -->

    <activity
      android:name="com.facebook.FacebookActivity"
      android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
      android:label="@string/app_name" />
    <activity
      android:name="com.facebook.CustomTabActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="@string/fb_login_protocol_scheme" />
      </intent-filter>
    </activity>

    <service
      android:name="com.google.firebase.messaging.FirebaseMessagingService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@mipmap/ic_launcher"
      tools:replace="android:resource" />

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@android:color/white"
      tools:replace="android:resource" />

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_channel_id"
      android:value="default"
      tools:replace="android:value" />

    <service
      android:name="app.notifee.core.ForegroundService"
      tools:node="remove" />
    <receiver
      android:name="app.notifee.core.BlockStateBroadcastReceiver"
      tools:node="remove" />

    <!-- @feature:admob:start [disabled] -->
    <!-- <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-3781511156022357~2699873695" /> -->
    <!-- @feature:admob:end -->

    <receiver
      android:name=".widget.TodoWidgetProvider"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_todo_list_info" />
    </receiver>

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:exported="true"
      android:theme="@style/BootTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:scheme="https"
          android:host="yourapp.onelink-domain.com" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="yourapp" />
      </intent-filter>
    </activity>
  </application>
</manifest>
